$tran05s:0.5s;

.sidebarContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  max-width: 300px;
  background-color: var(--sidebarbackground);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  transition: $tran05s;

  &.hide {
    width: 60px;

    // 标题收缩
    .title {
      transform: scaleX(0);
    }

    .profiles {
      .username {
        display: none;
      }

      .avatar {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.topnav {
  padding: 5px 10px;
  @include flex-custom(flex-end, center);
  border-bottom: 2px solid var(--bordercolor);

  .title {
    font-family: $myfont;
    font-size: $no3;
    color: var(--sidebarcolor);
    letter-spacing: 2px;
    margin-right: auto;
    transition: $tran05s;
  }

  .menubtn {
    color: var(--sidebarcolor);
    font-size: $no6;
    cursor: pointer;
  }
}

.profiles {
  padding: $padd;
  @include flex-c-c;
  flex-direction: column;
  border-bottom: 2px solid var(--bordercolor);

  .avatar {
    padding: 20% 0 10%;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      transition: $tran05s;
    }
  }

  .username {
    font-family: $myfont;
    font-size: $no6;
    color: var(--sidebarcolor);
    letter-spacing: 2px;
    padding-bottom: 10%;
    transition: $tran05s;
  }
}

@media (max-width:768px) {
  .profiles {
    .avatar {
      img {
        width: 100px;
        height: 100px;
      }
    }

    .username {
      font-size: $no3;
    }
  }
}