$tran05s:0.5s;

.maincontainer {
  background: url("../../images/homebackground.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(6px);
    pointer-events: none;
    background-color: var(--mainbackground);
  }

  .picturecontainer {
    padding: 5% 10%;
    position: relative;
    z-index: 1;
    &>div {
      text-align: center;
    }

    .title {
      display: block;
      margin-bottom: 5%;
      font-family: $myfont;
      font-size: $no8;
      text-align: center;
      color: transparent;
      background: linear-gradient(139.03deg, #00e2ff 0%, #ffffff 49.1%, #00ffc0 100%);
      background-clip: text;
      cursor: pointer;
      transition: $tran05s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}