.is-dark {
  --sidebarcolor: #fff;
  --textcolor: #fff;
  --sidebarbackground:rgba(0, 0, 0, 0.2);
  --bordercolor: #fff;
}

.is-light {
  --sidebarcolor: #fff;
  --textcolor: rgba(0, 0, 0, 0.8);
  --sidebarbackground:rgba(255, 255, 255, 0.6);
  --bordercolor: #61dafb;
}